$primary-bg: #f4f7f6;

.app-header {
  @apply w-full bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 shadow-lg sticky top-0  mb-[50px] z-50;

  z-index: 100;

  .header-content {
    @apply flex items-center justify-between px-6 py-4 mx-auto;

    @media (max-width: 768px) {
      @apply flex-col gap-4 py-5;
    }
  }

  .header-left {
    @apply flex items-center gap-4;

    .header-icon {
      @apply text-white;
      font-size: 32px;
    }

    .header-title {
      h1 {
        @apply text-2xl font-bold text-white m-0;

        @media (max-width: 768px) {
          @apply text-xl;
        }
      }

      .header-subtitle {
        @apply text-sm text-white/80 m-0 mt-1;

        @media (max-width: 768px) {
          @apply text-xs;
        }
      }
    }
  }

  .header-right {
    .btn-language {
      @apply flex text-white  gap-1;
    }
  }
}
