$primary-bg: #f4f7f6;

.board {
  @apply flex justify-around gap-5 p-5 bg-[#f4f7f6];

  @media (max-width: 768px) {
    @apply flex flex-col items-center;
  }
}

.app-container {
  .drag-overlay-card {
    @apply w-[90vw] max-w-md min-h-[100px] bg-gray-100 rounded-md p-4 cursor-grabbing shadow-xl;

    .drag-overlay-text {
      @apply m-0 break-words whitespace-normal text-sm;
    }
  }

  background-color: $primary-bg;
  h1 {
    @apply flex items-center justify-center font-bold text-[28px] p-5;
  }
}
