$primary-bg: #f4f7f6;

.board {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  background-color: $primary-bg;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.app-container {
  .drag-overlay-card {
    @apply w-[90vw] max-w-md min-h-[90px] bg-gray-100 rounded-md p-4 cursor-grabbing shadow-xl;

    .drag-overlay-text {
      @apply m-0 break-words whitespace-normal text-sm;
    }
  }

  background-color: $primary-bg;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    padding: 20px;
  }
}
